<html>
<head>
    <title>Simple track analysis</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>
</head>

<body>
<div ng-app="simpleTrackAnalysisApp" ng-controller="simpleTrackAnalysisController">
    <h1>Simple track Analysis</h1>
    <div class="row">
        <div class="col-sm-3">
            <b>Min. speed: (km/h)</b> <input type="number" ng-model="minSpeed">
        </div>
        <div class="col-sm-3">
            <b>Max. speed: (km/h)</b> <input type="number" ng-model="maxSpeed">
        </div>
        <div class="col-sm-6">
            <button id="submitbutton" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Submit to server!</button>
        </div>
    </div>
    <p>Track points with speed less than {{minSpeed}} km/h or larger than {{maxSpeed}} km/h will be filtered out.</p>
    <br/><br/>
    <span>DataSize: {{dataSize}}</span>
    <div id="map" style="height:500px;width:1000px"></div>
    <div class="container">
        <div class="row">
            <h3>Track Overview</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h5>Start Time</h5>
                <p >{{overview.starttime}}</p>
            </div>
            <div class="col-sm-3">
                <h5>End Time</h5>
                <p >{{overview.endtime}}</p>
            </div>
            <div class="col-sm-3">
                <h5>Duration</h5>
                <p >{{overview.duration}} Minutes</p>
            </div>
            <div class="col-sm-3">
                <h5>Distance</h5>
                <p >{{overview.distance}} meters</p>
            </div>
        </div>
        <div class="row">
            <h3>Statistical Characteristic</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h5>Speed Mean</h5>
                <p >{{statistical.speedmean}} km/h</p>
            </div>
            <div class="col-sm-3">
                <h5>Altitude Mean</h5>
                <p >{{statistical.altitudemean}} m</p>
            </div>
            <div class="col-sm-3">
                <h5>RPM Mean</h5>
                <p> {{statistical.rpmmean}} round/minute</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/opencpu.js/opencpu-0.5.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <!-- Using Google Tile-->
    <!--<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>-->
    <!--<script src="http://matchingnotes.com/javascripts/leaflet-google.js"></script>-->
    <script src="custom/js/app.js"></script>
</div>
</body>

</html>